.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: rgb(248, 248, 221);
}

.circle__text {
  border: 1px solid black;
  width: 70%;
  height: 70%;
  transform: rotate(20deg);
}
